/* color palette https://colorhunt.co/palette/ec8f5ef3b664f1eb909fbb73 */

.game-box {
  position: relative;
  display: grid;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #f1eb90;
  padding: 60px;
  height: 400px;
  width: 400px;
}

.game-info-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.game-info-right {
  position: absolute;
  right: 7%;
}

.square {
  background-color: #f3b664;
  display: inline-block;
  border-radius: 5px;
  margin: 5%;
}

.highlighted {
  background-color: white;
}

.wrong-square {
  background-color: #ec8f5e;
}

.icon {
  margin: 2px;
  height: 30px;
  width: 30px;
}
